
.top-2 {
    padding: 1% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:0.0001rem solid rgb(211, 218, 223);
  }
  
  .list {
    display: flex;
    align-items: center;
    
  }
  
  .list p{
  font-size: 1.25rem;
  }
  
  .list i {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: rgb(136, 148, 158);
  }
  
  .print button {
    background-color: white;
    border: 0.01rem solid rgb(218, 227, 233);
    border-radius:3px;
    margin-left: 0.25rem;
  }
  
  button .fa-pen-to-square {
    padding:0 0.25rem;
  }
  